body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f4f6f9;
	font-family: Arial, sans-serif;
}

.container {
	text-align: center;
}

h1 {
	margin-bottom: 30px;
	font-weight: 300;
	color: #333;
}
.user_name {
	display: inline-block;
		width: 220px;
 padding: 12px;
    border-radius: 12px;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}
.user_name:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}
.form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    align-items: center;

}

a {
	text-decoration: none;
}

.btn {
	display: block;
	width: 220px;
	margin: 10px auto;
	padding: 12px;
	background-color: rgb(147, 126, 228);
	color: white;
	text-decoration: none;
	border-radius: 8px;
	transition: 0.3s;
}

.btn:hover {
	background-color: #1b5fbd;
}


.btn.logout { 
	background-color: rgb(232, 87, 0);
}

.btn.logout :hover {
	background-color: red;
}

.btn-deposito {
	background-color: green;
	color: white;
}

.btn-retiro {
	background-color: red;
	color: white;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.tabla th {
    background-color: #2c3e50;
    color: white;
    padding: 12px;
    text-align: left;
}

.tabla td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla tr:hover {
    background-color: #f5f5f5;
}