body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f4f6f9;
	font-family: Arial, sans-serif;
}

.container {
	text-align: center;
}

h1 {
	margin-bottom: 30px;
	font-weight: 300;
	color: #333;
}

a {
	text-decoration: none;
}

.btn {
	display: block;
	width: 220px;
	margin: 10px auto;
	padding: 12px;
	background-color: #2d89ef;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	transition: 0.3s;
}

.btn:hover {
	background-color: #1b5fbd;
}

.btn-deposito {
	background-color: green;
	color: white;
}

.btn-retiro {
	background-color: red;
	color: white;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.tabla th {
    background-color: #2c3e50;
    color: white;
    padding: 12px;
    text-align: left;
}

.tabla td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla tr:hover {
    background-color: #f5f5f5;
}